PORT=""
APP_ENV=""
HOST_URL=""

ZEP_API_KEY=""

GEMINI_API_KEY=""

TUYA_ACCESS_ID=""
TUYA_ACCESS_SECRET=""
TUYA_BASE_URL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""

CORS_ALLOWED_ORIGIN=""
WEB_APP_URL=""
OAUTH_STATE_SECRET=""

FIREBASE_PROJECT_ID=""
FIRESTORE_DATABASE_ID=""
THIRD_PARTY_API_KEY=""

GOOGLE_APPLICATION_CREDENTIALS=""
GCP_RUNTIME_SA_EMAIL=""
GCP_PROJECT_ID=""
CLOUD_TASKS_LOCATION_ID=""
CLOUD_TASKS_QUEUE_ID=""

POSTERA_API_KEY=""

POSTERA_DB_URL=""

WALLET_DB_URL=""
