PORT=""
APP_ENV=""

GCP_RUNTIME_SA_EMAIL=""

REDIS_URL=""

IDENTITY_JWKS_URL=""

ZEP_API_KEY=""

POSTERA_DB_URL=""

HOST_URL=""

GCP_PROJECT_ID=""
CLOUD_TASKS_LOCATION_ID=""
CLOUD_TASKS_QUEUE_ID=""

GOOGLE_APPLICATION_CREDENTIALS=""

GEMINI_API_KEY=""
TUYA_ACCESS_ID=""
TUYA_ACCESS_SECRET=""
TUYA_BASE_URL=""
ZEE_DB_URL=""

FIREBASE_PROJECT_ID=""
FIRESTORE_DATABASE_ID=""
