local redis = require "resty.redis"

return function(conf)
    local red = redis:new()

    local timeout = tonumber("${REDIS_TIMEOUT}") or 2000
    red:set_timeout(timeout)

    local redis_host = "${REDIS_HOST}"
    local redis_port = "${REDIS_PORT}"
    local redis_password = "${REDIS_PASSWORD}"
    local redis_user = "${REDIS_USER}"

    local pool_size = tonumber("${REDIS_POOL_SIZE}") or 500
    local pool_idle = tonumber("${REDIS_POOL_IDLE_TIMEOUT}") or 10000

    local ok, err = red:connect(redis_host, redis_port, { ssl = true, ssl_verify = true })

    if not ok then
        kong.log.err(err)
        return kong.response.exit(500, { error = "System Integrity Check Failed" })
    end

    if redis_password and redis_password ~= "" then
        local res, auth_err

        if redis_user and redis_user ~= "" then
            res, auth_err = red:auth(redis_user, redis_password)
        else
            res, auth_err = red:auth(redis_password)
        end

        if not res then
            kong.log.err(auth_err)
            return kong.response.exit(500, { error = "System Integrity Check Failed" })
        end
    end

    local claims = kong.ctx.shared.jwt_claims
    if not claims or not claims.sub then
        return kong.response.exit(401, { message = "Unauthorized Identity" })
    end
    local user_id = claims.sub

    local key = "users:blocked:payment"
    local is_blocked, err = red:sismember(key, user_id)

    if err then
        kong.log.err(err)
        return kong.response.exit(500, { error = "System Integrity Check Failed" })
    end

    if is_blocked == 1 then
        red:set_keepalive(pool_idle, pool_size)
        return kong.response.exit(402, {
            error = "Policy Violation",
            message = "Account suspended due to outstanding payment.",
            code = "PAYMENT_REQUIRED"
        })
    end

    red:set_keepalive(pool_idle, pool_size)
end
